@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

.tarefasJuntas{
    padding: 45px;
    border-radius: 5%;
    box-shadow: inset 1.5px 1.5px 5px black;
    box-sizing: border-box;
    border: none;
    background-color: #DBDADA;
    width: 270px;
    font-family: 'Noto Serif', serif;
    margin-left: 155px;
    min-height: 58px;
    margin-bottom: 50px;
}

.treino{
margin-left: 0px;
font-size: 20px;
text-decoration: underline;
}

@media(max-width:800px){
    .tarefasJuntas{
        margin: 40px 10px 10px 60px; 
        min-height: 58px;
        
    }

    .treino{
        margin-left: 10px;
        font-size: 17px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.486);
    }
    
}
